
 .gradient {
  background: linear-gradient(
    180deg,
    rgba(50,50,95,.9) ,
    rgba(150,150,255,.3),
    transparent 
  );
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover;
  backdrop-filter: blur(0px) ;
  box-shadow: unset 0 0 2000px rgba(255, 255, 255, .5);
  min-width: 100%;
  height: 100%;  
  border-radius: 15px;
}
