.top-container {
  display: flex;
  flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-items: center;
  
  background-size: cover;
  filter: opacity(1) contrast(1.1);
  height: 100%;
  width: 100%;
  color: white;
}


.top-container .title {
  font-size: 37px;
  align-items: baseline;
  text-decoration: unset;
}

.title{
  padding-left: auto;
  padding-right: auto;
  

}
.current-weather{
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;

}
